<h1> <%= @events.count %> Events for March </h1>
<table class="table">
  <tr> 
    <th>Title</th>
    <th>City</th>
    <th>Date / Start Time</th>
    <th>Description</th>
    <th>Venue</th>
    <th>Venue Address</th>
  </tr>
  <% @events.each do |event| %>
    <tr class="event">
      <td><%= event[:title] %></td>
      <td><%= event[:city_name] %></td>
      <td><%= DateTime.parse(event[:start_time]).strftime("%A, %d %b %Y %l:%M %p") %></td>
      <% if event[:description] %>
        <td><%= event[:description][0..140].html_safe %></td>
      <% else %>
        <td> no description available </td>
      <% end %>
      <td><a href="<%= event[:venue_url] %>"><%= event[:venue_name] %></a></td>
      <td><%= event[:venue_address] %></td>
    </tr>
  <% end %> 
</table>