<h1> <%= @events.count %> Events for March </h1>
<table class="table">
  <tr> 
    <th>Title</th>
    <th>City</th>
    <th>Date / Start Time</th>
    <th>Description</th>
    <th>Venue</th>
    <th>Venue Address</th>
  </tr>
  <% @events.each do |event| %>
    <tr class="event">
      <td><%= event.title %></td>
      <td><%= event.city %></td>
      <td><%= event.date_time %></td>
      <td><%= event.description %></td>
      <td><%= link_to event.venue, event.url %></td>
      <td><%= event.venue_address %></td>
    </tr>
  <% end %> 
</table>