<h1> 16 events for March </h1>
<table>
  <tr> 
    <th>title</th>
    <th>city</th>
    <th>start_time</th>
    <th>description</th>
    <th>venue</th>
    <th>venue url</th>
    <th>venue address</th>
  </tr>
  <% @response.each do |event| %>
    <tr>
      <td><%= event[:title] %></td>
      <td><%= event[:city_name] %></td>
      <td><%= event[:start_time] %></td>
      <% if event[:description] %>
        <td><%= event[:description][0..140] %></td>
      <% else %>
        <td> no description available </td>
      <% end %>
      <td> <%= event[:venue_name] %></td>
      <td><a href="<%= event[:venue_url] %>">Venue URL</a></td>
      <td><%= event[:venue_address] %></td>
    </tr>
  <% end %> 
</table>